body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* Start of header section*/
.header_section{
    background-color:#1f2937;
    color: white;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}

/*Start of navbar section*/
.navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
   
    }
/*Start of hero section*/
.hero{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 50px;
    background-color:#1f2937 ;
}
.hero-main-text{
    max-width: 500px;
    color: white;
    font-weight: 900;
    padding: 48px;
}
.hero-secondary-text{
    padding: 18px;
    color: #e5e7eb;
}
.hero-image img{
    max-width: 400px;

}
.hero-btn{
    color: white;
    background-color: #3b82f6;
    border-radius: 10px;
    font: roboto;
    text-align: center;
    padding: 10px 10px;
}

.info-section{
    text-align: center;
    padding: 50px;
}

.info-container{
   display: flex;
   justify-content: center;
   gap: 40px;
}

.info-card{
 width: 150px;
 text-align: center;
}

.info-box{
   width: 150px;
   height: 150px;
   border-radius: 15px;
   margin-bottom:10px;
   border: 4px solid #3882f6;
   }

.testimonial{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.author{
    text-align: end;
    font-weight: 900;
}

.ctn-banner{
    padding: 40px 60px;
    background-color: white;
}
.ctn-container{
    background-color: #3b82f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    border-radius: 12px;
}
.ctn-text{
    color: white;
}
.ctn-btn{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap
}




.footer{
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 5px;
}

 
