/* Start of header section*/
.header_section{
    background-color:#1f2937;
    color: white;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}

/*Start of navbar section*/
.navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
   
    }
/*Start of hero section*/
.hero{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 50px;
    background-color:#1f2937 ;
}
.hero-text{
    max-width: 500px;
    color: white;
    font: roboto;
}
.hero-image img{
    max-width: 400px;

}
.hero-btn{
    color: white;
    background-color: #3b82f6;
    border-radius: 10px;
    font: roboto;
    text-align: center;
    padding: 10px 10px;
}

